.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255,255,255,0.99), rgba(255,255,255,0.7)), url('https://wallpaperaccess.com/full/2866361.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    flex: 1;
}

.sidebar {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,82,8,1) 80%);
}

.top-row {
    background: linear-gradient(16deg, rgba(2,0,36,1) 0%, rgba(0,49,5,1) 0%, rgba(0,49,5,1) 25%, rgba(0,49,5,1) 58%);
    border-bottom: 3px solid black;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
